@import "./mixins.scss";

.appContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column-reverse;
}

.pageContainer {
  position: relative;
	width: 100%;
	height: 100%;
  background: var(--colorBackground);
  color: var(--colorText);
}

.light {
	--colorText: var(--colorBlack);
	--colorBackground: var(--colorWhite);
}

.dark {
  --colorText: var(--colorWhite);
  --colorBackground: var(--colorBlack);
}

@media screen and (min-width: $desktopBreakpoint) {
	.appContainer {
		flex-direction: row;
	}
}
