:root {
  --colorMain: hsl(210, 82%, 17%);
  --colorWhite: hsl(0,0%,90%);
  --colorBlack: hsl(0,0%,10%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Tahoma, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button, a {
  cursor: pointer;
}

.sr-only {
  display: none;
}
